*{
    margin: 0;
    padding: 0;
}
nav{
    border: 2px solid black;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 77, 107);
}
.nav-box{
    display: inline-block;
    padding: 10px 0;
    width: calc(25vw - 10px);
    border-right: 2px solid black;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    background-color: rgb(255, 77, 107);
}
.main{
    border: 1px solid black;
    width: 80vw;
    height: 40vh;
    margin: 10vh auto;
    background-color: black;
}
.content{
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
    display: inline-block;
    margin: calc(5vh - 1px) calc(5vw - 2px);
    background-color: pink;
}
.head{
    text-align: center;
    font-size: 2em;
    margin: 10vh auto;
    border: 2px solid black;
    width: 80vw;
    padding: 10vh 0;
    border-radius: 50px;
    background-color: rgb(230, 154, 166);
}
img{
    position: fixed;
    bottom: 0;
    right: 0;
}
footer *{
    border: 2px solid black;
    margin: 10vh 0 0 0;
    padding: 10px 0 50px 10px;
    background-color: aqua;
}