/* /Class selecter */
.red{
    background-color: red;
}

/* ID Selector */
#green{
    background-color: green;
}

/* Child Selector */
div > p{
    color: blue;
}

/* Descendant Selector */
div p{
    background-color: yellow;
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Pseudo Selector */
a:visited{
    color: purple;
}
a:link{
    color: blue;
}
a:active{
    background-color: purple;
}
a:hover{
    color: red;
}
p:last-child{
    background-color: cyan;
}


a{
    text-decoration: none;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 200px;
}
